
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>DiOMS</h1>
    <p class="lead">DiCentral Inventory & Order Management System</p>
    <p><img src="~/Images/logo1.jpg" /><img src="~/Images/logo2.jpg" /><img src="~/Images/logo3.jpg" /></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Order</div>
            <div class="panel-body">Allow to get order via EDI platform and Non EDI as well. User can also create order manually...</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Fulfill Order</div>
            <div class="panel-body">Allow to fulfill order and update inventory and create ASN...</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Get Label from UPS/Fedex</div>
            <div class="panel-body">Allow to integrate into UPS/Fedex Shipment Service to get tracking number and label..</div>
        </div>
    </div>
</div>
